<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="js/vue.js"></script>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="css/util.css"/>
    <script src="js/axios.min.js"></script>
    <script src="js/bootstrap-vue.js"></script>
</head>
<body>
<div id="app">
    <div class="logo">
        <img src="css/images/locally.png" alt="image could not be loaded">
    </div>
    <b-alert variant="danger"  :show="showFailure" style="padding-top: 2%">
        <h4 class="alert-heading">Wrong credentials!</h4>
        <p>{{invalid}} test</p>
    </b-alert>
    <b-card class="login">
        <b-form @submit="onSubmit">
            <b-form-group>
                <b-form-input v-model="email" type="text" placeholder="E-Mail" required/>
            </b-form-group>

            <b-form-group>
                <b-form-input v-model="password" type="password" placeholder="Password" required/>
            </b-form-group>

            <div class="text-center">
                <b-button type="submit" variant="primary">Sign In</b-button>
                <b-button href="register.html">Register</b-button>
            </div>
        </b-form>
    </b-card>

</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            showFailure: false,
            email: '',
            password: '',
            invalid: '',

        },
        methods: {
            onSubmit(evt) {
                let that =this;
                evt.preventDefault();
                if(this.email !== "" && this.password !== "") {
                    axios.post('login', {
                        email: this.email,
                        password: this.password,
                    })
                        .then(function (response) {
                            console.log(response);
                            that.showFailure = false;
                            window.location.href = "mainpage.html?email="+that.email;
                        })
                        .catch(function (error) {
                            console.log(error);
                            that.showFailure = true;
                            that.invalid = "Username or Password do not match!";
                        });
                } else {
                    this.invalid = "Username or Password not filled!";
                }
            },
        },

    });
</script>
</html>