<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mainframe</title>

    <script src="js/vue.js"></script>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="css/vue-datetime.css"/>
    <link type="text/css" rel="stylesheet" href="css/util.css"/>
    <script src="js/axios.min.js"></script>
    <script src="js/bootstrap-vue.js"></script>
    <script src="js/luxon.js"></script>
    <script src="js/vue-datetime.js"></script>

</head>
<body>
<div id="app">
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">locally</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">

                    <b-nav-item-dropdown right>
                        <template slot="button-content"><em>{{email}}</em></template>
                        <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
    <p class="paragraph">Please select your desired time and date</p>
    <datetime  class="text-center" type="date" v-model="datetime" :min-datetime="minDateTime"></datetime>
    <b-table id="table" style="padding-top: 3%; padding-left: 15%; padding-right: 15%" bordered outlined striped responsive
                 :fields="fields" :items="items" class="text-center">
        <template slot="reserve" scope="item">
            <b-btn class="text-center" size="sm" @click="reserve(item.item)">Reserve</b-btn>
        </template>
    </b-table>
    <div class="text-center">
        <b-button :href="'registeredExperiences.html?email='+email">Booked Experiences</b-button>
    </div>

    <b-modal id="reservation" v-model="modalShow" title="Reservation" hide-footer
             @hidden="start">
        <div class="d-block text-center">
            <h4>{{resTxt}}</h4>
        </div>
    </b-modal>
</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            datetime: '',
            modalShow: false,
            resTxt: '',
            email: '',
            minDateTime: '',
            fields: {
                id: {
                    label: 'ID',
                    sortable: true
                },
                name:{
                    label: 'Name',
                    sortable: true
                },
                description: {
                    label: 'Description',
                    sortable: false
                },
                startTime: {
                    label: 'Start',
                    sortable: true
                },
                duration: {
                    label: 'Duration',
                    sortable: true
                },
                address: {
                    label: 'Address',
                    sortable: false
                },
                maxGroupSize: {
                    label: 'Max. group size',
                    sortable: true
                },
                price:{
                    label: 'Price (€)',
                    sortable: true
                },
                type:{
                    label: 'Type',
                    sortable: true
                },
                reserve:{
                    label: 'reserve',
                }

            },
            items: [],
        },
        created() {
            this.baseUrl = window.location.origin + "/";
            var url = new URL(window.location.href);
            this.email = url.searchParams.get("email");
            this.minDateTime = new Date().toISOString();
            /*axios.get(this.baseUrl + "getExperiences/"+this.email).then(response => {
                this.items = response.data;
            });*/

        },
        methods:{
            start(){
                let _this = this;
                if(!this.resTxt.includes("Their was an error")){
                    axios.post('start', {
                        email: this.email,
                    }).then(function (response) {
                        console.log(response);
                        _this.items = [];
                        window.location.href = "mainpage.html?email="+_this.email;
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            reserve(item) {
                let _this = this;
                if(this.email !== "") {
                    axios.post('makeReservation', {
                        email: this.email,
                        id: item.id,
                    }).then(function (response) {
                        _this.resTxt = 'Reservation of '+item.name+' was successfully';
                        _this.modalShow = true;
                       // _this.start();
                    })
                    .catch(function (error) {
                        _this.resTxt = 'Their was an error on the reservation of '+item.name;
                        _this.modalShow = true;
                    });
                }
            },
            getData(){
                axios.get(this.baseUrl + "getExperiences/"+this.email)
                    .then(response => {
                        this.items = response.data;
                    }).catch(function(error) {

                });
            },
            logout() {
                axios.post('logout', {
                    email: this.email
                }).then(function (response) {
                    console.log(response);
                    window.location.href = "login.html";
                }).catch(function (error) {
                    console.log(error);
                });
            }
        },
        watch:{
            datetime: function(val){
                let _this = this;
                axios.post('selectDate', {
                    date: val,
                    email: this.email
                })
                    .then(function (response) {
                        setTimeout(() => {
                            _this.getData();
                        },1000);

                    })
                    .catch(function (error) {
                    });
            }
        }

    });
</script>
</html>